<!DOCTYPE html>
<head>
	<title>Wroom!</title>

	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JQuery CDN-->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

	<!-- Compiled and minified CSS & JS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>   

	<script src="js/filter.min.js"></script>

	<script src="js/search.js"></script>
	<link rel="stylesheet" href="css/search.css">

</head>

<body>
	
	<div class="container">	 
		<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0%);">
	        <li class="logo"><a id="logo-container" href="#!" class="brand-logo">
	            <img class="responsive-img" src="img/logo.jpg" alt="Wroom!"/>
	        	</a>
	        </li>

	        <li style="margin-top: 200px">
	        	<nav>
	        	<div class="nav-wrapper">
			        <form>
				        <div class="input-field">
				          <input id="search" type="text">
				          <label for="search"><i class="material-icons">search</i></label>
				          <i class="material-icons">close</i>
				        </div>
			      	</form>
			      	</br>
			    </div>
			    </nav>
			</li>
			<li>
			<br>
			    <form>
			    	<div class="advanced">
			      		<div class='row'>
			      			<div class="input-field col s12">
								<select id="cq-year">
									<option value="any">Any</option>
									<option value="1950-1970">1950-1970</option>
									<option>1970-1980</option>
									<option>1980-1990</option>
									<option>1990-2000</option>
									<option>2000-2005</option>
									<option>2005-2010</option>
									<option value="2010-2013">2010-2013</option>
									<option value="2013-2016">2013-2016</option>
								</select>
								<label>Year Range</label>
			      			</div>
			      		</div>
			      		<div class="row">
				      		<div class="input-field col s12">
					      		<select id="cq-body"><option value="any">Any</option><option>Cargo Vans</option><option>Compact Cars</option><option>Convertible</option><option>Coupe</option><option>Crossover</option><option value="Hatchback">Hatchback</option><option>Large Cars</option><option>Midsize Cars</option><option>Midsize Station Wagons</option><option>Mini Compact Cars</option><option>Minivan</option><option>Not Available</option><option>Panel Van</option><option>Passenger Vans</option><option>Pickup</option><option>Roadster</option><option>Sedan</option><option>Small Pickup Trucks</option><option>Small Sport Utility Vehicles</option><option>Small Station Wagons</option><option>Sport Utility Vehicles</option><option>Standard Pickup Trucks</option><option>Standard Sport Utility Vehicles</option><option>Station Wagon</option><option>Subcompact Cars</option><option>SUV</option><option>Two Seaters</option><option>Van</option>
					      		</select>
				      			<label for="cq-body">Body Type</label>
				      		</div>
				      	</div>
				      	<div class="row">
				      		<div class="input-field col s12">
					      		<select id="cq-engine-position"><option value="any" selected>Any</option><option>Front</option><option>Middle</option><option>Rear</option></select>
					      		<label for="cq-engine-position">Engine Position</label>
					      	</div>
					    </div>
					    <div class="row">
					    	<div class="col s12 input-field">
					      		<select id="cq-engine-type"><option value="any" selected>Any</option><option>boxer</option><option>dual-disk rotary</option><option>electric</option><option>Flat</option><option>in-line</option><option>Inline</option><option>Not Available</option><option>single</option><option>V</option><option>W</option></select>
					      		<label>Engine Type</label>
					      	</div>
					    </div>
					    <div class="row">
					    	<div class="col s12 input-field">
					      		<select id="cq-fuel-type"><option value="any" selected>Any</option><option>Biofuel</option><option>Diesel</option><option>Diesel / Electric Hybrid</option><option>Electric</option><option>Flex Fuel</option><option>Flex-Fuel (Premium Unleaded Reco</option><option>Flex-Fuel (Premium Unleaded Requ</option><option>Flex-Fuel (Premium Unleaded/E85)</option><option>Flex-Fuel (Unleaded/E85)</option><option>Flex-Fuel (Unleaded/Natural Gas)</option><option>FlexFuel</option><option>Gasoline</option><option>Gasoline - Premium</option><option>Gasoline / Electric Hybrid</option><option>Hydrogen</option><option>LPG</option><option>Natural Gas</option><option>Natural Gas (CNG)</option><option>Not Available</option><option>Premium</option><option>Premium Unleaded (Recommended)</option><option>Premium Unleaded (Required)</option><option>Regular Unleaded</option></select>
					      		<label>Fuel Type</label>
					      	</div>
					    </div>
					    <div class="row">
					    	<div class="col s12 input-field">
				      		<select id="cq-drive"><option value="any" selected>Any</option><option>4WD</option><option>All Wheel Drive</option><option>AWD</option><option>Four Wheel Drive</option><option>Front</option><option>Front Wheel Drive</option><option>Not Available</option><option>Rear</option><option>Rear Wheel Drive</option></select>
				      		<label>Drive</label>
				      		</div>
				      	</div>
				      	<div class="row">
					    	<div class="col s12 input-field">
					      		<select id="cq-seats"><option value="any" selected>Any</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>12</option><option>14</option><option>15</option><option>16</option><option>20</option><option>25</option></select>
					      		<label>Seats</label>
					      	</div>
			      		</div>
			      	</div>
			      	</form>
			    </li>  	
			    
	       
        </ul>

        <header>
        	<h3 class="center-align header"></h3>
        	<p class="flow-text center-align">Search Results</p>
        </header>

		<main>
			
			<ul class="content">
				<div class="loading">
					<img src="img/loading-1.gif" style="display: block; margin: 0 auto;"/>
				</div>
			</ul>


		</main>
		<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Wroom!</h5>
                <p class="grey-text text-lighten-4">We will find her for you.</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Wroom!
            </div>
          </div>
        </footer>
	</div>
	<script id="template" type="text/html">
			<li class="flow-text"><a href="results.html?model=<%= model_id %>" ><%= make_display %> <%= model_name %> <%= model_trim %> <%= model_year %></a><hr></li>
    </script>
</body>